# Dependencies for the ASR container.

fastapi==0.115.12
uvicorn[standard]==0.34.2
torch
torchaudio
transformers
flask
jiwer
soundfile
requests
python-dotenv
tqdm
safetensors
datasets
evaluate>=0.4.0
onnxruntime
librosa